
.ui-autocomplete-loading {
    background: white url("../images/loading.gif") right center no-repeat;
}

.product_categories{
	height: 40em;
	overflow: auto;
	  padding-top: 2em;
}

.product_categories a {
	cursor: pointer;	
}

.product_categories  a.selected{
	font-weight: bold;
  border-right: 2px solid orange;
  color: #fff;
  background-color: #3a5795;
}


.ui-widget-content{
	border: 0 !important;
  padding-top: 0 !important;
  font-size: 14px !important;
  font-style: italic !important;
  background-color: white !important;
  padding-left: 0 !important;
}

.ui-autocomplete li{
  position: relative !important;
  display: block !important;
  padding: 10px 15px !important;
  margin-bottom: -1px !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}

.ui-autocomplete li :first-child{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.ui-autocomplete li:hover{
	background-color: #3a5795 !important;
	color: #fff !important;
	border-right: #3A5795;
	border-left: #3A5795;
}
  
.headerSection {
	padding-top: 1em;
	background-color: #3a5795;
	margin-bottom: 0px !important;
}

.headerSection div > .column {
	height: 3em;
}

.logo{
	cursor: pointer;
	background: url("../images/review_book_logo.gif") no-repeat scroll 0 0 transparent !important;
	background-repeat: no-repeat;
	margin-left: 2em;
}

.signout-container button {
	height: 3em;
	width : 3em;
	border:  1px solid #F5F8FA;
	border-radius: 5em;
	background-size: 4em !important;
	background-repeat: no-repeat;
	float: left;
}

.suggest_product{
  border: 0 !important;
  outline: 0 !important;
  font-size: 20px;
  border-bottom: 1px solid #dedede !important;
  border-radius: 20px !important;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.search-Icon{
	background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent !important;
    background-size: 20px !important;
	background-repeat: no-repeat;
	float: left;
	width: 10%;
    height: inherit;
    margin-top: .25em;
}
.search_bar {
  	
}

.MainBody{
	border-radius: 15px;
	background-color: #F0F8FF;
	 border-top: 1px solid blueviolet;
	 overflow:hidden;
}
 
.lef_nav {
 	text-align: center;
 }
 
.lef_nav div a:hover{
	 font-size : 16px;
}

.lef_nav div a[class=active] {
	font-weight: bold; 
	text-decoration: none;
	font-size : 16px;
}

.lef_nav div a{
	cursor: pointer;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size : 14px;
	color: #191970;
	text-decoration: none;
}


.lef_nav div{
	padding: 2em 0 2em 0;
}


.post-review-div {
	background-color: white;
	border-radius: 20px;
	padding-top: 2em;
	margin-top: 2em;
	border: 1px solid black;
	padding-bottom:  2em;
}


.post-review-div input{
	border : 0px !important;
	font-size: 14px;
	 width: 60%;
	 background-color: transparent;
}

.post-review-div select{
	border : 0px !important;
	background-color: transparent;
	font-size: 16px;
	height: 2em;
}

.post-review-div textarea{
	border : 0px !important;
	font-size: 16px;
	 width: 60%;
	 height: 4em;
	 background-color: transparent;
}

.post-review-div  input[type="radio"]{
	height: 1em;
	background-color: transparent;
}

.post-review-div .even_form_group{
	background-color: white;
  	margin: 0px !important;
}

.post-review-div .odd_form_group{
	background-color: aliceblue;
    margin: 0px !important;
}



.post-review-div  input[type="file"]{
	border-bottom : 0px !important;
	float:  : left  !important;
	width: 21%  !important;
}


.post-review-div label{
	white-space: nowrap;
}

.form-group{
	padding-top: 2em !important;
}

.review-by-div{
  padding: 1em 0 1em 1em;
  border-bottom: 1px solid #3a5795;
  background-color: white;
}

.review-by-div:first-child{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top: 1px solid transparent;
}

.review-by-div:last-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 1px solid transparent;
}

.review-by-div .product_div{
	font-weight:bold;
	font-size: 18px;
}

.review-by-div .review_heading_div{
	font-weight:normal;
	font-style: oblique;
	font-size: 15px;
}

.review-by-div .review_name{
	color: #800080!important;
  font-weight: normal !important;
  font-size: 14px !important;
  text-align: right !important;
    padding-right: 2em !important;
}

.review-by-div .recommended-div{
	width: 2em;
  height: 2em;
  background: url('../images/green_tick.png') no-repeat scroll 0 0 transparent;
  background-size: 1.5em;
}

.review-div-footer .column{
	padding: 0 !important;
	color: #428bca !important;
}

.trending_products {
	border:1px solid transparent;
	background-color:white;
	border-radius:10px;
	margin : 2em 0 2em 0;
	padding : 1em 0 1em 1em;
	width : 95%;
	overflow: hidden;
}

.top_users{
	width : 95%;
	border:1px solid transparent;
	background-color:white;
	border-radius:10px;
	margin : 0 0 4em 0;
	padding : 1em 0 0 1em;
	overflow: hidden;
}

.product_users_div{
	height: 40em;
	overflow: auto;
	width: 90%;
	margin-top: 2em;
}

.product_categories{
	border:1px solid white;
	background-color:white;
	margin-top: 2em;
	border-top-left-radius: 20px;
  	border-top-right-radius: 20px;
}

.product_categories h4{
	text-align: center;
}

.product_categories ul{
	list-style: none;
}

.review-by-div .not-recommended-div{
	width: 2em;
  height: 2em;
  background: url('../images/red_cross.png') no-repeat scroll 0 0 transparent;
  background-size: 1.5em;
}

.review-by-div .helpful_content_div a{
	  white-space: nowrap;
	  cursor: pointer;
	  text-decoration: none;
}

.trending_reviews{
	background-color: inherit;
  	margin-top: 2em;
  	overflow-y: auto;
  	height: 40em;
}

.table-responsive tbody td,th {
	text-align: center !important;
}

.header_navbar{
	
}

.header_navbar div{
	height: inherit;
	display: block;
}

.header_navbar div span{
  position: relative;
  left: 1.5em;
  top: 0.5em;
  display: block;
  color: white;
}

.signInSignOutContainer .userName{
	color: white;
	top: 1em;
	position: relative;
	padding-left: 1em;
}

.caret{
	border-top : white !important;
}

.header_navbar .post{
	background: url('../images/post.png') no-repeat scroll 0 0 transparent;
	background-size: 2em !important;
	background-repeat: no-repeat;
	cursor: pointer;
}

.header_navbar .home{
	background: url('../images/home.png') no-repeat scroll 0 0 transparent;
	background-size: 2em !important;
	background-repeat: no-repeat;
	cursor: pointer;
}

.header_navbar .post:hover,.header_navbar .home:hover{
	font-size: 16px;
}

.modal-body{
	max-height: 30em;
}

.modal-body img{
	max-width:100%;
	max-height:29em;
}

.product_users_div::-webkit-scrollbar {
    width: .5em;
}


.product_users_div::-webkit-scrollbar-thumb {
  background-color: #3a5795;
  height: 5px;
  box-sizing: border-box;
}

.product_users_div ::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-left: 1px solid #ccc;
}

.trending_reviews::-webkit-scrollbar {
    width: .5em;
}


.trending_reviews::-webkit-scrollbar-thumb {
  background-color: #3a5795;
  height: 5px;
  box-sizing: border-box;
}
.trending_reviews::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-left: 1px solid #ccc;
}

body{
	overflow-y: hidden;
}
