@import url(http://fonts.googleapis.com/css?family=Tangerine|Roboto:500);


.headerSection {
	
}

.headerSpan{
	color: teal;
	font-size: 50px;
	font-family: 'Tangerine', serif;
	cursor: pointer;
}

.search-Icon{
	background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent !important;
    background-size: 20px !important;
	background-repeat: no-repeat;
	height: 1.5em;
}
.search_bar {
  	border-bottom: 1px solid #dedede;
}

.MainBody{
	padding-top: 2em;
	border-radius: 15px;
	background-color: #f5f8fa;
}
 
.lef_nav {
 	text-align: center;
 }
 
.lef_nav div a:hover{
	 font-size : 16px;
}

.lef_nav div a[class=active] {
	font-weight: bold; 
	text-decoration: none;
	font-size : 16px;
}

.lef_nav div a{
	cursor: pointer;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size : 14px;
	color: #191970;
	text-decoration: none;
}


.lef_nav div{
	padding: 2em 0 2em 0;
}

.post-review-div input{
	border : 0px !important;
	border-bottom: 1px solid !important;
	font-size: 16px;
	 width: 60%;
}
.post-review-div textarea{
	border : 0px !important;
	border-bottom: 1px solid;
	font-size: 16px;
	 width: 60%;
	 height: 4em;
}

.post-review-div  input[type="radio"]{
	height: 1em;
}

.post-review-div label{
	white-space: nowrap;
}

.form-group{
	padding-top: 2em !important;
}

.review-by-div{
  padding: 1em 0 1em 1em;
  border: 1px solid #E1E900;
  border-radius: 25px;
  margin : 2em 0 0 0;
}

.review-by-div .product_div{
	font-weight:bold;
	font-size: 18px;
}

.review-by-div .review_heading_div{
	font-weight:normal;
	font-style: oblique;
	font-size: 15px;
}

.review-by-div .review_name{
	color: #dedede !important;
  font-weight: normal !important;
  font-size: 14px !important;
  text-align: right !important;
}

.review-by-div .recommended-div{
	width: 2em;
  height: 2em;
  background: url('../images/green_tick.png') no-repeat scroll 0 0 transparent;
  background-size: 2em;
}

.trending_products {
	border:1px solid #E1E900;
	background-color:white;
	border-radius:10px;
	margin : 1em 0 4em 0;
	padding : 1em 0 1em 1em;
	width : 95%;
}

.top_users{
	width : 95%;
	border:1px solid #E1E900;
	background-color:white;
	border-radius:10px;
	margin : 0 0 4em 0;
	padding : 1em 0 0 1em;
}

.review-by-div .not-recommended-div{
	width: 2em;
  height: 2em;
  background: url('../images/red_cross.png') no-repeat scroll 0 0 transparent;
  background-size: 2em;
}

.review-by-div .helpful_content_div div{
	background-color: #EFEFEF; 
	  white-space: nowrap;
	  cursor: pointer;
}

.trending_reviews{
	background-color: white !important;
	border: 1px solid transparent !important;
}

.table-responsive tbody td {
	text-align: center !important;
}
