@import url(http://fonts.googleapis.com/css?family=Tangerine);


.headerSection {
	height: 4em;
	width: 100%;
}

.headerSpan{
	color: teal;
	font-size: 50px;
	font-family: 'Tangerine', serif;
}
/*
.signin div {
	float: right;
}

.searchbar_section {
	height: 12em;
	background: url("../images/searchbar-background.jpg") no-repeat scroll 0 0 #fefefe !important;
	background-repeat: no-repeat;
	width: 100%;
}
.searchbar {
	width: 100%;
	position: relative;
	top: 30%;
	display: block;
}

.searchbar div {
	height: 3em;
}*/

.search-Icon{
	background: url("../images/search_icon.png") no-repeat scroll 0 0 transparent !important;
    background-size: 20px !important;
	background-repeat: no-repeat;
	height: 1.5em;
}
.search_bar {
  	border-bottom: 1px solid #dedede;
}

/*
.search_button {
	color: #fff;
	background-color: #bb101d;
	border-radius: 0 5px 5px 0;
}

.search_button span {
	font-weight: bold;
	font-size: 20px;
	top: 20%;
	text-align: center;
	display: block;
	position: relative;
}*/


