@(name:String)
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="google-signin-client_id" content="532543530058-9kjr88ddjfqu3vtbkf2d0kg91k1o1ppo.apps.googleusercontent.com">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Review Book</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
</head>
<body>
    
        <header class="navbar-static-top navbar headerSection">
        		<div style="height: 2em;background-color: #00ccff;width=100%;" > </div>
        		<div class="row"> 
        			<div class="column col-sm-3">
        				<span class="headerSpan" onclick="javascript:loadTrendingReviews()">Review Book</span>
        			</div>
        			<div class="column col-sm-5 search_bar"> 
        				<div class="row" style="padding-top: .5em;">
        					<div class="search-Icon column col-sm-1"> </div>
        					<input class="column col-sm-11" type="text" style="border: 0;height: 1.5em;outline: 0;font-size: 20px;" placeholder="Search Reviews" >
        				</div>
        			</div>
        			<div class="column col-sm-2" style="height: 1em;"> </div>
        			<div class="column col-sm-2 signInSignOutContainer" style="padding-top: .5em;">
                         <div id="my-signin2"></div>
                         <div class="signout-container" style="visibility: hidden;">
                         	<span class="welcomeMessage"> </span>
        					<span style="color: blue;cursor: pointer;" onclick="javascript:logout()"> Logout </span>
                         </div>
                    </div>
        		</div>
        </header>
        
        <div class="MainBody row">
        	<div class="column col-sm-2 lef_nav" style="min-height: 50em">
				<div> <a action="postReview"> Post Review </a>  </div>
				<div> <a action="myReviews"> My Reviews </a> </div>
				<div> <a action="myProfile"> My Profile </a> </div>
        	</div>
        	<div class="column col-sm-8 trending_reviews" style="min-height: 50em"> </div>
        	<div class="column col-sm-2" style="min-height: 50em"> </div>
        </div>
        
        
        <script type="text/template" id="trending-reviews-template">
            <div class="review-by-div panel">
            	<div style="margin-left: 15px"> Product : <%= reviewItem %></div>
                <span style="margin-left: 15px"> Review By : <%= reviewBy %> || Review Time : <%= reviewTime %></span>
                <br> <br>
            	<div style="font-weight: bold;margin-left: 15px"> <%= reviewHeading %> </div>
            	<p style="margin-left: 15px;"> <%= reviewBody %> </p>
                </div>
            </div>
        </script>
        
        <script type="text/template" id="post-review-template">
            <div class="post-review-div">
            	<form class="form-horizontal" name="post-review-form" role="form">
            		<div class="form-group">
            			<label class="control-label col-sm-2" for="title">Title:</label>
					    <div class="col-sm-10">
					      <input type="text" name="title" placeholder="Enter Title of your review"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-2" for="productName">Product Name:</label>
					    <div class="col-sm-10">
					      <input type="text" name="productName" placeholder="Enter product name of which yoou wish to review"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-2" for="comments">Comments:</label>
					    <div class="col-sm-10">
					      <textarea type="text" name="comments" placeholder="Enter Your Valuable Comments"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-2" for="bill">Upload Receipt:</label>
					    <div class="col-sm-10">
					      <input type="file" name="bill"/>
					    </div>
            		</div>
            		
            		<div class="form-group"> 
    					<div class="col-sm-offset-2 col-sm-10">
     					 <button type="submit" class="btn btn-default" form="post-review-form">Submit</button>
    					</div>
  					</div>
 	           	</form>
            </div>
        </script>
        
            <script type="text/javascript">
                function onSuccess(googleUser) {
                	var profile = googleUser.getBasicProfile();
                	var loginInfo = new LoginModel();
                	loginInfo.save({fullName:profile.getName(),
                					emailId:profile.getEmail()},{
                		success : function(){
                			var signInSignOutContainer = $('.signInSignOutContainer');
                			signInSignOutContainer.find('#my-signin2').css('visibility','hidden');
                			signInSignOutContainer.find('.signout-container').css('visibility','visible');
                			signInSignOutContainer.find('.welcomeMessage').html('Welcome '+profile.getName());
                		},
                		error : function(){
                			alert(' :( Failed to Login. Please check your credentials and try again :)');
                		}
                	});
                	
                }
                
                function logout(){
                	var auth2 = gapi.auth2.getAuthInstance();
				    auth2.signOut().then(function () {
				      	var signInSignOutContainer = $('.signInSignOutContainer');
				      	signInSignOutContainer.find('#my-signin2').css('visibility','visible');
                		signInSignOutContainer.find('.signout-container').css('visibility','hidden');
				    });
                }

                function onFailure(error) {
                    console.log(error);
                }

                function renderButton() {
                    gapi.signin2.render('my-signin2', {
                        'width' : 100,
                        'theme' : 'dark',
                        'float' : 'right',
                        'onsuccess' : onSuccess,
                        'onfailure' : onFailure
                    });
                }
        </script>
        
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/underscore/underscore.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/backbone/backbone.js")"></script>
        
        
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/view/PostReviewView.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/view/ReviewView.js")"></script>
        
        <script src="@routes.Assets.versioned("javascripts/model/LoginModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/PostReviewModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/ReviewModel.js")"></script>
        
</body>
</html>