@(name:String)
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="google-signin-client_id" content="532543530058-9kjr88ddjfqu3vtbkf2d0kg91k1o1ppo.apps.googleusercontent.com">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="userName" content=""/>
<title>Review Book</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/jquery.loadmask.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/jquery-ui.css")">
</head>
<body>
	
	<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title"> Warning !!! </h4>
					</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
    
        <header class="navbar-static-top navbar headerSection">
        		<div class="row"> 
        			<div class="column logo col-sm-2">
        			</div>
        			<div class="column col-sm-4 search_bar"> 
        					<!-- <div class="search-Icon"> </div> -->
        					<input class="suggest_product" type="text" placeholder="    Search Reviews" >
        			</div>
        			<div class="column col-sm-3 header_navbar"> 
        					<div class="row">
        						<div class="column col-sm-3 home" onclick="javascript:loadTrendingReviews()"> <span> Home </span></div>
        						<div class="column col-sm-3 post" onclick="javascript:showPostReviewSection()"> <span> Post </span></div>
        					</div>
        			</div>
        			<div class="column col-sm-2 signInSignOutContainer">
                         <div id="my-signin2"></div>
                         <div class="signout-container" style="display: none">
                         	<button class="btn btn-default dropdown-toggle image" type="button" id="logoutMenu" 
                         				data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" > 
                         	</button>
                         	<span class="caret"></span>
                         	<ul class="dropdown-menu" aria-labelledby="logoutMenu" >
                         			<li> <a href="javascript:logout()"> Logout </a></li>
                         			<li> <a href="javascript:loadUserReviews()"> My Reviews </a> </li>
                         	</ul>
                         	<span class="userName"> </span>
                         </div>
                    </div>
        		</div>
        </header>
        
        <div class="MainBody row">
        	<div class="column col-sm-2 " >
				<div class="product_categories list-group" >
					<h4>Quick Links</h4>
        		</div>
        	</div>
        	<div class="column col-sm-6 trending_reviews"> </div>
        	<div class="column col-sm-4" > 
        		<div class="trending_products" >
        			<h4> Trending Products </h4>
        		</div>
        		
        		<div class="top_users">
        			<h4> Top Users </h4>
        		</div>
        	</div>
        </div>
        
        
        <script type="text/template" id="trending_products_template">
        	<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Product</th>
						<th>Recommended</th>
						<th>Not Recommended</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
        </script>
        
         <script type="text/template" id="trending_users_template">
         	<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>No. Of Reviews</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
        </script>
        
        
        <script type="text/template" id="trending-reviews-template">
            <div class="review-by-div" reviewid="<%= reviewId %>">
            	<br>
            	<div class="row product_div" style="display:block;">
            		<div class="column col-sm-4"> <%= reviewItem %></div>
            		<div class="column col-sm-3"> </div>
            		<div class="column col-sm-4 review_name"> <%= reviewBy %></div>
            	</div>
            	
            	<div class="row product_div" style="display:block;">
            		<div class="column col-sm-7"> </div>
            		<div class="column col-sm-4 review_name"> <%= postedDate %></div>
            	</div>
            	<br>
            	<div class="row" style="display:block;">
            		<div class="column col-sm-4 review_heading_div"> <%= reviewHeading %></div>
            	</div>
            	
                <br>
            	<p style=""> <%= reviewBody %> </p>
            	
            	<br>
            	<div class="row review-div-footer" style="color:#dedede">
            		<div class="column col-sm-1" style="display:<%= recommendVisible %>;left:2em;">
            			<div class="recommended-div"> </div>
            		</div>
            		<div class="column col-sm-3" style="display:<%= recommendVisible %>;">
            			<span> Recommended </span>
            		</div>
            		
            		<div class="column col-sm-1" style="display:<%= notRecommendVisible %>;left:2em;">
            			<div class="not-recommended-div"> </div>
            		</div>
            		<div class="column col-sm-3" style="display:<%= notRecommendVisible %>">
            			<span> Not Recommended </span>
            		</div>
            		<div class="column col-sm-1" />
            		
            		<div class="column col-sm-2 helpful_content_div" >
            			<a helpful="true" count="<%= helpful %>)"> Helpful(<%= helpful %>)</a>
            		</div>
            		<div class="column col-sm-3 helpful_content_div" >
            			<a helpful="false" count="<%= notHelpful %>)"> Not Helpful(<%= notHelpful %>)</a>
            		</div>
            		<div class="column col-sm-2 viewReceipt_div" >
            			<a href="#" > View Receipt </a>
            		</div>
            	</div>
            	
                </div>
            </div>
        </script>
        
        <script type="text/template" id="post-review-template">
            <div class="post-review-div">
            	<form class="form-horizontal" name="post-review-form" method="post"  action="postReview" encrtype="multipart/form-data">
            		<div class="form-group">
            			<label class="control-label col-sm-3" for="title">Title:</label>
					    <div class="col-sm-9">
					      <input type="text" required=true name="reviewTitle" placeholder="Enter Title of your review"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-3" for="productName">Product Category:</label>
					    <div class="col-sm-9">
					      <select  type="text" name="productCategoryId" required=true class="" placeholder="Enter the Category under which the product comes"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-3" for="productName">Product Name:</label>
					    <div class="col-sm-9">
					      <input type="text" name="productName" required=true class="" placeholder="Enter product name of which yoou wish to review"/>
					    </div>
            		</div>
            		
            		<div class="form-group">
            			<label class="control-label col-sm-3" for="comments">Comments:</label>
					    <div class="col-sm-9">
					      <textarea type="text" name="reviewContent" required=true placeholder="Enter Your Valuable Comments"/>
					    </div>
            		</div>
            		
					<div class="form-group">
						<label class="control-label col-sm-3" for="bill">Upload Receipt:</label>
						<div class="col-sm-9">
						  <input id="uploadBill" type="file" name="bill"/>
						  <span class="uploadFileName" style="padding-left:2em;color:blue;"></span>
						</div>
					</div>
					
            		
            		<div class="form-group radio">
            			<div class="col-sm-3" style="display:block;"> </div>
						<div class="col-sm-1">
							<input type="radio" name="recommend" checked="checked" value="true">
						</div>
            			<label class="col-sm-3" style="color:green" >Recommended </label>
						
						<div class="col-sm-1">
							<input type="radio" name="recommend" value="false">
						</div>
						<label class="col-sm-3" style="color:red" >Not Recommended </label>
					</div>
            		
            		<input type="hidden" name="emailId" value="<%= emailId %>"/>
            		
            		<div class="form-group"> 
    					<div class="col-sm-offset-3">
     					 <div class="btn btn-default">Submit</div>
    					</div>
  					</div>
 	           	</form>
            </div>
        </script>
        
            <script type="text/javascript">
                function onSuccess(googleUser) {
                	var profile = googleUser.getBasicProfile();
                	$('meta[name=userName]').attr("content",profile.getEmail());
                	var loginInfo = new LoginModel();
                	loginInfo.save({fullName:profile.getName(),
                					emailId:profile.getEmail()},{
                		success : function(){
                			var signInSignOutContainer = $('.signInSignOutContainer');
                			signInSignOutContainer.find('#my-signin2').css('display','none');
                			signInSignOutContainer.find('.signout-container').css('display','block');
                			signInSignOutContainer.find('.signout-container > .image').css('background-image', 'url(' + profile.getImageUrl() + ')');
                			signInSignOutContainer.find('.signout-container .userName').html('Hi, '+profile.getName().split(" ")[0]);
                		},
                		error : function(){
                			alert(' :( Failed to Login. Please check your credentials and try again :)');
                		}
                	});
                	
                }
                
                function logout(){
                	$('meta[name=userName]').attr("content","");
                	var auth2 = gapi.auth2.getAuthInstance();
				    auth2.signOut().then(function () {
				      	var signInSignOutContainer = $('.signInSignOutContainer');
				      	signInSignOutContainer.find('#my-signin2').show();
                		signInSignOutContainer.find('.signout-container').hide();
				    });
				    loadTrendingReviews();
                }

                function onFailure(error) {
                    console.log(error);
                }

                function renderButton() {
                    gapi.signin2.render('my-signin2', {
                        'width' : 100,
                        'theme' : 'dark',
                        'float' : 'right',
                        'onsuccess' : onSuccess,
                        'onfailure' : onFailure
                    });
                }
        </script>
        
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/dist/jquery.form.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/jquery.ui.widget.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/jquery.fileupload.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/jquery.iframe-transport.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/jquery.loadmask.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/jquery/plugin/jquery-ui.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/underscore/underscore.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/node_modules/backbone/backbone.js")"></script>
        
        
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/view/PostReviewView.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/view/ReviewView.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/view/ProductsUserStatisticsView.js")"></script>
        
        <script src="@routes.Assets.versioned("javascripts/model/LoginModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/PostReviewModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/ReviewModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/SearchSuggestionsModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/ProductsUserStatisticsModel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/model/ProductCategoriesModel.js")"></script>
        
</body>
</html>